<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.user.avatar.gravatar_size_user), user_path(micropost.user, locale: I18n.locale) %>
  <span class="user">
    <%= link_to micropost.user.name, user_path(micropost.user, locale: I18n.locale) %>
  </span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp"><%= t "posted" %> <%= time_ago_in_words micropost.created_at %> <%= t "ago" %>.</span>
  <%= image_tag micropost.image if micropost.image.attached? %>
  <span class="timestamp">
    <%= t "posted" %> <%= time_ago_in_words micropost.created_at %>
    <% if current_user? micropost.user %>
      <%= link_to t("delete"), micropost_path(micropost, locale: I18n.locale), data: {turbo_method: :delete, turbo_confirm: t("you_sure")} %>
    <% end %>
  </span>
</li>
