<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("header.logo"), root_path(locale: I18n.locale), id: "logo" %>
    <% if logged_in? %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("header.home"), root_path(locale: I18n.locale) %></li>
          <li><%= link_to t("header.help"), help_path(locale: I18n.locale) %></li>
          <li><%= link_to t("users.show.title"), users_path(locale: I18n.locale) %></li>
          <li><%= link_to t("profile"), user_path(current_user, locale: I18n.locale) %></li>
          <li><%= link_to t("settings"), edit_user_path(current_user, locale: I18n.locale) %></li>
          <li><%= link_to t("header.log_out"), logout_path(locale: I18n.locale), data: { turbo_method: :delete } %>
          </li>
        </ul>
      </nav>
    <% else %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("header.log_in"), login_path(locale: I18n.locale) %></li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
<%= link_to "English", url_for(locale: "en") %> |
<%= link_to "Vietnamese", url_for(locale: "vi") %>
